#t {
    margin: 10px 0;
    font-size: 30pt;
    width: 360px;
    outline: none;
    border: none;
    text-align: right;
    background-color: transparent;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    color: black;
}

input[type="button"], button {
    width: calc(100% / 6);
    height: 83px;
    background-color: transparent;
    border: solid 2px lightgray;
    outline: none;
    font-size: 18pt;
    margin: 2px;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

#equ, .equ, .ivt {
    background-color: black !important;
    border: none !important;
    color: white !important;
}

input[type="button"]:hover, button:hover {
    background-color: #ccc;
    cursor: pointer;
    border-color: gray;
    /*transition: 0.3s*/
}

input[type="button"]:active, button:active {
    border-color: black;
    background-color: gray;
    /*transition: 0.3s*/
}

#t::selection {
    background-color: black;
    color: white;
}

.gj, .pr, .tj {
    display: none;
}

body {
    background-color: #fcfcfc;
    text-align: center;
    margin: auto;
    width: calc(100% - 600px);
}

html, body {
    height: 100%;
}

#mxs {
    font-size: 18pt;
    color: gray;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: 0.3s;
}

hr {
    border: solid gray;
    border-width: 1px 0 0 0;
    margin: 0;
}

#hip, #hsp p {
    font-size: 18pt;
    margin: 9px;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
}

#hip:hover, #hsp p:hover {
    cursor: pointer;
    background-color: #ccc;
}

#prv, #tle {
    text-align: right;
    opacity: 0.5;
    font-size: 20pt;
}

.sld {
    border-left: solid 3px #065378;
}

.b {
    padding: 9px 30px;
    font-family: "Microsoft Yahei UI", "Segoe UI", sans-serif;
    width: 200px;
}

#mde {
    position: fixed;
    top: 0;
    left: 0;
    width: 200px;
    text-align: left;
    overflow-y: auto;
    height: 100%;
    overflow-x: hidden;
    z-index: 100;
}

pre code span {
    font-family: Consolas, monospace;
    margin: 0;
}

.light {
    color: gray;
}

pre {
    display: none;
}

.xjz {
    border: none !important;
    height: auto !important;
    width: auto !important;
    border-radius: 0 !important;
}

.ppl {
    display: none;
    visibility: hidden;
}

#tjb, #tle {
    display: none;
}

#tjb, #hsp {
    max-height: 400px;
    overflow-y: auto;
}

b {
    margin: 9px;
}

#mde p:hover {
    background: #ccc;
}

#fri {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
}