@font-face {
    font-family: Montserrat;
    src: url("https://yblui.github.io/yblui-e/Montserrat-Regular-8.otf");
    font-display: swap;
}

#t {
    margin: 10px 0;
    font-size: 30pt;
    width: 360px;
    outline: none;
    border: none;
    text-align: right;
    background-color: transparent;
    -webkit-user-select: text;
    -ms-user-select: text;
    user-select: text;
    font-family: Montserrat, sans-serif;
}

input[type="button"],
button {
    width: 83px;
    background-color: transparent;
    border: solid 1px gray;
    outline: none;
    height: 83px;
    font-size: 27pt;
    margin: 2px;
    border-radius: 16%;
    font-family: Montserrat, sans-serif;
}

#equ,
.equ, .ivt {
    background-color: black !important;
    border: none !important;
    color: white !important;
}

input[type="button"]:hover,
button:hover {
    background-color: #ccc;
    border: none;
    cursor: pointer;
}

#t::selection {
    background-color: black;
    color: white;
}

.gj, .pr,.tj {
    display: none;
}

body {
    background-color: #fcfcfc;
    text-align: center;
    margin: auto;
    width: -moz-fit-content;
    width: fit-content;
}

#mxs {
    font-size: 18pt;
    color: gray;
}

* {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

hr {
    border: solid gray;
    border-width: 1px 0 0 0;
    margin: 0;
}

p {
    font-size: 18pt;
    margin: 9px;
    font-family: Montserrat, sans-serif;
}

p[onclick]:hover {
    cursor: pointer;
    background-color: #ccc;
}

#prv,#tle {
    text-align: right;
    opacity: 0.5;
    font-size: 20pt;
}

.sld {
    border-bottom: solid 3px black;
}

.b {
    padding: 9px 30px;
    font-family: Montserrat, sans-serif;
}

#mde:hover{
    background-color: lightgray;
    border-radius: 6px;
}

pre code span {
    font-family: Consolas, monospace;
    margin: 0;
}

.light {
    color: gray;
}

pre {
    display: none;
}

.xjz {
    border: none !important;
    height: auto !important;
    width: auto !important;
    border-radius: 0 !important;
}

.ppl{
    display: none;
    visibility: hidden;
}

#tjb{
    display: none;
}
